@import '../../common/styles/colors';

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;

  & > div {
    display: flex;
  }

  img.avatar {
    border-radius: 30px;
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }

  .action {
    width: 28px;
    height: 28px;
    opacity: 0.3;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  h3 {
    margin: 0;
    font-weight: 900;
    font-family: "Merriweather", serif;
    margin-left: 15px;
    margin-top: 5px;
    margin-left: 0;
    color: $color-dark-blue;
  }

  p {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 0;
    color: $color-black;
    margin-top: 3px;

    svg {
      width: 16px;
      height: 16px;
      margin-right: 4px;

      path {
        fill: $fill-black;
      }
    }
  }
}
