$color-light-blue: #dfe2ff;
$color-orange: #fb5000;
$color-medium-orange: #ff6118;
$color-dark-brown: #fb500066;
$color-dark-blue: #182170;
$color-black: #00000080;
$colorShadow-black: #0000000d;
$colorBorder-black: #00000014;
$fill-black: #00000033;
