@import './colors';

%sendInviteBtn {
  background-color: $color-orange;
  padding: 16px 15px;
  border-radius: 15px;
  font-size: 16px;
  color: #fff;
  width: 100%;
  border: 0;
  outline: none;
  box-shadow: 0 7px 10px $color-dark-brown;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

%sendInviteBtnHover:hover {
  background-color: $color-medium-orange;
}

%sendInviteBtnActive:active {
  transform: translateY(2px);
  box-shadow: none;
}
