@import '../../common/styles/colors';
@import '../../common/styles/templates';

.successBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  animation: success-show 0.5s cubic-bezier(0.25, 0.75, 0.5, 1.25);

  img {
    width: 120px;
    height: 120px;
  }

  h3 {
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 10px;
  }

  p {
    text-align: center;
    margin-bottom: 30px;
  }

  button {
    width: 200px;
  }

  .sendInviteBtn {
    @extend %sendInviteBtn;

    &:hover {
      @extend %sendInviteBtnHover;
    }

    &:active {
      @extend %sendInviteBtnActive;
    }
  }
}

@keyframes success-show {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
