@import './common/styles/colors';

.App {
  width: 400px;
  height: 600px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 2px 5px $colorShadow-black;
  padding: 40px;
}